<p>
  <%=  link_to "Import Movie Csv", import_csv_form_path(type: "Movie")%> <br>  
  <%=  link_to "Import Review Csv", import_csv_form_path(type: "Review")%> <br>  
  <%=  link_to "Movie List", movies_path%>
</p>
